@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

html,
body {
  font-family: "Roboto", sans-serif;
}

#app {
  font-family: "Roboto", sans-serif;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 200px;
}

.col {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-50 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mr-2 {
  margin-right: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-5 {
  margin-top: 40px;
}

.mt-15 {
  margin-top: 120px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.name {
  color: #808080;
}

.stats {
  font-size: 0.8rem;
}

.legend {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  color: #808080;
  font-size: 0.9rem;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 16px;
}

.red {
  background: #ff7a7a;
}

.blue {
  background: #7ad9ff;
}

.subtitle {
  color: #808080;
}

.caption {
  color: #808080;
}
